
<!-- nav -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/member/main_page">Jerry's</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/board/posting">Posting<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.youtube.com/?gl=KR&hl=ko">YouTube</a>
      </li>
    </ul>
    {% comment %} <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-1" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success mr-sm-2" type="submit">Search</button>
    </form> {% endcomment %}
    {% if not request.session.userid %}
    <a href="/member/sign_up" class="btn btn-success mr-sm-1">Sign Up</a>
    <a href="/member/sign_in" class="btn btn-success mr-sm-2">Sign In</a>
    {% else %}
    <a class="btn btn-success mr-sm-1" href="/member/delete">delete</a>
            <form action="/member/delete" methode="post">
                <input type="submit" value="DeleteINFO"/>
            </form>
    <a class="btn btn-success mr-sm-2" href="/member/logout">Logout</a>
    {% endif %}
  </div>
</nav>