<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jerry's|Edit</title>
</head>


<body>
    <div class="container">
        <form action="member/edit" method="past">
            ID:<input type="text" value="{{one.0}}"  name="id"/>
            name:<input type="text" value="{{one.2}}"  name="name"/>
            AEG :<input type="text" value="{{one.3}}"  name="age"/>
            <input type="submit" class="btn btn-warning" value="edit info"/>
            
        </form>
    </div>

<p> 
    어떻게 출력 할것인가 <br/>
    무엇을 출력할것인가 -> 사용자 정보지 <br/>
    뭐뭐를 출력할것인가 -> 아이디, 이름, 나이 <br/>
    form으로 해야겠네 => post로 보낼꺼니까 <br/>

</p>


</body>
</html>