<!-- Path = templates / member / index.html -->
<!DOCTYPE html>
<html lang="kr"> <!--번역계속떠서 kr 바꿈 -->
<!-- head.html -->
{% include "../main/head.html" %}


<body>
<!-- nav.html -->
    {% include "../main/nav.html" %}

  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Wellcom Back</h1>
        <p>This is Jerry's Main page </p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <hr>
    </div> <!-- /container -->
  </main>
  <!-- footer.html -->
  {% include "../main/footer.html" %}
  </body>
</html>











