<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel ="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel ="stylesheet" href="/static/css/mystyle.css"/>
</head>
<body>
    <div class ="container" style="border:10px solid #ffcccc">
        <form action="/member/sign_in" method="post">

            <div class = "mybox">
                <h3>Login</h3>
                <hr />
                    <div class="form-inline">
                        <label style="width:100px">ID</label>
                        <input type="text" class ="form-control" name="id"/>
                    </div>

                    <div class="form-inline">
                        <label style="width:100px">PW</label>
                        <input type="password" class ="form-control" name="pw"/>
                    </div>
                    <hr />
                    <div class="form-inline">
                        <label style="width:100px"></label>
                        <h5>
                            <p>If you do not have an account on this site, Please create one!</p>
                        </h5>
                        <input type="submit" class ="btn btn-primary" value="login"/>
                        <a href="/member/sign_up" class="btn btn-default btn active" role="button">Sign up</a>
                    </div>
            </div>
        </form>
    </div>
</body>
</html>