<!-- 기본 구조 => 헤더, 네비, 푸터 삽입   -->
<!DOCTYPE html>
<html lang="en">
<!-- head.html -->
{% include "../main/head.html" %}

<!-- main body -->
<body>
<!-- nav.html -->
{% include "../main/nav.html" %}
    <div class="container-md pt-5 ">
        <table class="table-hover">
        
        </table>    
    <!-- footer.html -->
    {% include "../main/footer.html" %}

    <p>
    - 글 목록에서 글을 클릭하면 본문 내용을 열람할수있게 <br/>
    - 여기는 글을 보여준다. => 근데 글을 누르면 어떻게 불러오는거지 ?  <br/> 
    - 테이블에 담는다 => 제목 , 글내용, 날짜 , 작성자 등등 나열 
    - 
    </p>
    </div>
</body>
</html>

