<!-- list.html   -->

<!DOCTYPE html>
<html lang="en">
<!-- head.html -->
{% include "../main/head.html" %}



<!-- main body -->
<body>
<!-- nav.html -->
{% include "../main/nav.html" %}
    <div class="container-md pt-5">
    <h2> Posting List </h2>
        <a href="/board/posting" class='btn btn-dark m-1'>글쓰기</a>
            <select class = 'form-control'>
                <option>제목</option>
                <option>내용</option>
                <option>작성자</option>
            </select>
        <table board = "1" class = 'table table-hover'>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>날짜</th>
            </tr>
        {% for one in send %}
            <tr>
                <td>{{one.0}}</td>
                <td><a href="/board/content?no={{one.0}}">{{one.1}}</a></td>
                <td>{{one.2}}</td>
                <td>{{one.3}}</td>
                <td>{{one.4}}</td>
            </tr>
        {% endfor %}
        </table> 
         <p>
    - 일단은 제목 먼저 <br/>
    - 테이블 형태로 보여줄건데 <br/>
    - 뷰에서 데이터를 가지고 올건데 사전형태로 된 데이터 이거를 적절히 받아와야해 <br/>
    - 이터러블 성질 <br/>
    - 라인 33번 줄에다가 => 경로 지정해줬네 => content로 이동 할 수있게 <br/>
    - a 로 주소를 지정하는데 그주소는 ?no={뷰에서오는정보}=> 주의할꺼는 목록번호를 불러와야한다. <br/>
    </p>
    </div>
    <!-- footer.html -->
    {% include "../main/footer.html" %}
    </div>
</body>
</html>